@import './variable.scss';

.margin-bottom {
    margin-bottom: 20px;
}

button {
    padding: 5px 15px;
    color: white;
    border: none;
}

.button-cancel {
    margin: 0px 10px 10px 0px;
    background: $Grayish-Blue;
}

.button-delete {
    background-color: $Soft-Red;
}

@media screen and (max-width: 550px) {
    
}